html {
    color: #000;
    background: #fff;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html,
body {
    font-family: sans-serif
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0
}

input,
select,
textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

abbr,
acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: 500
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 500
}

q:before,
q:after {
    content: ''
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

ins,
a {
    text-decoration: none
}

/* 高度设置 */

html {
    height: 100%;
    word-break: break-all;
}

body {
    height: calc(100% - 2.5rem);
}

#root {
    height: 100%;
}

#appContent {
    height: 100%;
}

#appBody {
    height: 100%;
}

.searchBar {
    width: 100%;
    height: 1.2rem;
    background-color: #fff;
}

.searchBar .searchPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .2rem .3rem 0;
    background-color: #f5f5f5;
    font-size: .4rem;
    line-height: 1rem;
    border-radius: .1rem;
    color: #9d9d9d;
}

#footer {
    position: fixed;
    z-index: 2;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#footer .tabItem {
    text-decoration: none;
    display: inline-block;
    padding: .1rem .4rem;
    text-align: center;
}

#footer .tabItem-icon {
    display: block;
    width: .75rem;
    height: .75rem;
}

/* 全局字体大小设置 */

* {
    font-size: 12px;
}

[data-dpr="2"] * {
    font-size: 24px;
}

[data-dpr="3"] * {
    font-size: 36px;
}

::-webkit-input-placeholder {
    color: #cdcdcd;
}
:-moz-placeholder {
    color:#cdcdcd;
}
::-moz-placeholder {
    color: #cdcdcd;
}
:-ms-input-placeholder {
    color: #cdcdcd;
}

.loading-container {
    position: relative;
    width: 100%;
    height: 1.5rem;
}

/* 遮罩设置 */

.loading {
    width: 1rem;
    height: 1rem;
    border-radius: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(./static/loading.gif) center / 100% no-repeat;
}

/* 没有更多数据 */

.noMoreData {
    height: 1rem;
    text-align: center;
    color: #8a8a8a;
}

/* 星星评分 */

.star_score {
    display: inline-block;
    width: .4rem;
    height: .4rem;
}

/* 具体页面设置 */

#hotShowing-container {
    height: 100%;
}

#hotShowing-container .container-heading {
    width: 100%;
    background-color: #fff;
}

#hotShowing-container .heading-item {
    display: inline-block;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: .4rem;
    width: 50%;
    text-align: center;
}

#hotShowing-container .heading-item.active {
    border-bottom: 0.06rem solid #515151;
}

#hotShowing-container .swiper-container {
    width: 100%;
    height: calc(100% - 1.2rem);
}

#InTheater {
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

#ComingSoon {
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

.movieListItem {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    padding: .4rem;
    border-top: 1px solid #e6e6e6;
}

/* 加载更多时，loading的margin */
.movieListItem + .loading-container {
    margin-top: -.5rem;
    margin-bottom: .3rem;
}

.movieListItem .moviePic img {
    width: 1.8rem;
    height: 2.7rem;
}

.movieListItem .movieDesc {
    flex: 1;
    line-height: 1.5;
    margin-left: .5rem;
    color: #8a8a8a;
}

.movieListItem .movieDesc .movieTitle {
    font-size: .4rem;
    color: #515151;
    font-weight: bold;
}

.movieListItem .movieBuy {
    padding-top: .3rem;
    text-align: center;
}

.movieListItem .movieBuy .movieSeeing {
    margin-bottom: .2rem;
}

.movieListItem .movieBuy .goBuy {
    display: inline-block;
    padding: .1rem .2rem;
    border-radius: .1rem;
    text-decoration: none;
}

.movieDetail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    overflow-y: auto;
    background-color: #fff;
}

.movieDetail header {
    width: 100%;
    height: 1rem;
    position: fixed;
    top: 0;
    z-index: 4;
    line-height: 1rem;
    display: flex;
    color: #fff;
    background-color: #030e23;
    justify-content: space-between;
}

.movieDetail header * {
    font-size: .5rem;
}

.movieDetail .goBack, .movieDetail .share {
    padding: 0 .4rem;
}

.movieDetail .detail-body {
    margin-top: 1rem;
}

.movieDetail .poster {
    width: 100%;
    height: 6rem;
    display: flex;
    background-color: #030e23;
    justify-content: center;
    align-items: center;
}

.movieDetail .poster img {
    width: 3.6rem;
    height: 5.25rem;
}

.movieDetail .card-padding {
    padding: .5rem;
}

.movieDetail .info {
    display: flex;
    justify-content: space-between;
}
.movieDetail .info .rightCol {
    flex-shrink: 0;
}
.movieDetail .info h2 {
    font-size: .5rem;
    font-weight: bold;
    color: #48494b;
    padding-bottom: .5rem;
}
.movieDetail .info p {
    font-size: .3rem;
    line-height: 1.8;
    color: #a2a2a2;
}

.movieDetail .info .rating {
    padding: .2rem;
    margin-left: .2rem;
    text-align: center;
    box-shadow: 0 0 .2rem .1rem #ddd;
}
.movieDetail .info .rating-text {
    color: #d0d0d0;
}
.movieDetail .info .rating-score {
    color: #494949;
    font-weight: bold;
    font-size: .3rem;
}

.movieDetail .chooseSeat {
    font-size: .4rem;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    color: #979797;
}
.movieDetail .chooseSeat .angleRight {
    float: right;
    margin-right: .5rem;
    padding-top: .1rem;
}
.movieDetail .desc p:first-child {
    color: #979797;
    padding-bottom: .2rem;
}
.movieDetail .desc p:last-child {
    color: #494949;
    text-indent: 1em;
}

#search {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
    color: #555;
    background-color: #f2f1ee;
}
#search .searchHeader {
    background-color: #42bd56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}
#search .searchInput {
    flex-grow: 1;
    position: relative;
    margin: .15rem 0 .15rem .15rem;
    height: .9rem;
}
#search .searchInput * {
    font-size: .4rem;
}
#search .searchInput .searchIcon {
    color: #cdcdcd;
    position: absolute;
    height: .9rem;
    line-height: .9rem;
    padding-left: .25rem;
}
#search .searchInput input {
    width: calc(100% - 1rem);
    height: 100%;
    border: none;
    outline: none;
    border-radius: .1rem;
    padding-left: 1rem;
}
#search .searchCancel {
    display: inline-block;
    padding: .2rem .3rem;
    color: #fff;
}
#search .searchHistory-heading {
    padding: .3rem .5rem;
    display: flex;
    justify-content: space-between;
}
#search .searchHistory-heading span:first-child {
    color: rgb(157,157,157);
}

#search .searchBody {
    height: calc(100% - 1.2rem);
    overflow-y: auto;
}
#search .searchHistory-results {
    display: flex;
}
#search .searchHistory-result {
    flex: 1;
    font-size: .4rem;
    height: 1rem;
    line-height: 1rem;
    padding: 0 .5rem;   
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    background-color: #fff;
}
#search .searchHistory-result + .searchHistory-result {
    border-left: 1px solid #eee;
}

#search .searchResults-heading {
    padding: .3rem .5rem;
}
#search .searchResults-heading span:first-child {
    color: rgb(157,157,157);
}
#search .searchResults-result {
    padding: .3rem .5rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
#search .searchResults-result > img{
    width: .8rem;
    height: 1.2rem;
}
#search .searchResults-result > div{
    flex: 1;
    padding-left: .3rem;
}
#search .searchResults-result h3{
    color: #555;
    font-weight: bold;
    font-size: .4rem;
    padding-bottom: .1rem;
}
#search .searchResults-result p{
    color: #9a9a9a;
}
